.text1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(235, 235, 23, 0.988);
}
#text2 {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
#text3 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}